body {
    font-family:'Roboto', sans-serif;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}
a {
    /*color:#181A1C;*/
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    font-weight: 100;
    
}
#mymap{
    height: 1000px; 
    width: 80%; 
    margin: auto;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 300px;
    }
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}
    
/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* Add a gray background color and some padding to the footer */
.footer {
  background-color: #f2f2f2;
  padding: 25px;}

/******2. Layout*****************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top:50px;
}
.section .title {
    text-align: center;
    padding:10px;
    margin-bottom: 30px;
}
.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}
.section .title > p {
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}
.primary-section {
    background:#181A1C;
}
.primary-section .triangle {
    border-top: 40px solid #FECE1A;
}
.primary-section .title {
    border-bottom: 1px solid #FFF;
}
.primary-section, .primary-section .title p, .primary-section h3 {
    color: #FECE1A;
}
.primary-section h1 {
    color:#FFF;
}
.secondary-section {
    /*background:rgba(91, 192, 222, 0.37);*/
    /*background: rgb(181, 222, 241);*/
    background: #fff;
}
.secondary-section .title {
    color: #009a42;
}
.secondary-section .title p {
    color: #181A1C;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    background: #181A1C url(../images/brand-bg.png) no-repeat center;
    border-top:6px solid #FECE1A;
}
.third-section .container {
    padding-top:20px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}

 .single-project {
    /*margin-bottom:30px;*/
    background: #fff;
    margin-top: 20px;
}
.single-project img {
    width:100%;
    /*height: 300px;*/
}
#imgnew {
    width:300px;
    height: 300px;
    float: left;
    padding-right: 50px;
}
.single-project #newtitle {
    float: right;
    margin-left: 50px;
}
.single-project .listtuyen {
    width: 40%;
    height: 200px;
    float: left;
    margin-left: 50px;
    background-color: white;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    /*width:80%;*/
}
.project-title .close {
    color: #FECE1A;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color: #333;
    margin-bottom: 0;
}
.project-info {
    font-weight:100;
    padding:10px 0;
    color: #333333;
    font-size: 15px;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
.contact h1, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}




.black {
    color:#181A1C;
}
/*
3.8 Footer
********************************************************************/
 .footer {
    background: #181A1C;
    text-align: center;
    width: 100%;
}
.footer > p {
    color: #fff;
    margin:0;
}

.footer a{
    color:#FECE1A;
}

.footer a:hover, .footer a:focus{
    text-decoration: underline;
}

/*fix 02/04*/
.navbar-inverse {
    background-color: #1A4386;
    border-color: #080808;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1A4386;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1A4386;
}
.navbar .nav > li > a  {
    padding: 15px 15px 15px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #0088cc !important;
}
.fix-pagina {
    text-align: center;
}
.section .container.fix-cont-pad {
    padding-top: 0;
}
.span6.news-pic {
    width: 30%;
    height: 200px;
}
.span6.news-pic img{ 
height: 200px;
}
.span6.news-content {
    width: 65%;
}
.nav>li>a:hover {
    text-decoration: none;
    background: none;
}
li.filter {
    background: #099840;
    width: 120px;
    text-align: center;
    margin-bottom: 3px;
}
li.filter a {color: #fff;}
li.filter a:hover {color:#a26d22}
input#email {
    height: 50px;
}
/*

4 Responsible
*********************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
   
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
    .jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
 }
}
.text-news {
  text-align: justify;
  color: #333333;
}
.on-city {
    color: #049a41;
    padding-bottom: 20px;
    font-size: 20px;
}
.panel-heading a {
    color: #181a1c;
    font-size: 14px;
}
.panel-heading a:hover {
    color: #c2c962;
    text-decoration: none;
}
.btn-search {
    background: #009a42;
    color: #333333;
}
.btn-search:hover {
    color: #fff;
    background: #0088cc;
}
.newcontent {
    color: #333333;
    text-align: justify;
}
div#myCarousel {
    margin-bottom: 0 ;
}
.title-news {
    color: #0088cc;
}
.text-feedback {
    text-align: center;
    color: #009a42;
}
.map {
    color: #009a42;
    text-transform: uppercase;
}